/* font-family: 'Cabin', sans-serif;
font-family: 'Caprasimo', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-weight: bold;
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project_description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .project_description {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
  .about-section{
    margin: 0;
    text-align: center;
  }
}

#img {
  text-align: center;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.about-section-content{
  margin: 30px;
}

.about-section {
  padding: 120px 60px;
}
