.flexItem {
  display: flex;
  justify-content: space-between;
}

.divide {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .flexItem {
    display: block;
  }
  .divide {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
}
